/* Color scheme */
:root {
    --light: #fff;
    --medium: #3C8DAD;
    --dark: #112B3C;
    --font_family: Montserrat, sans-serif, serif;
    --heading_font_family: Montserrat, sans-serif, serif;
}

/* Background  color*/
body {
    position: relative;
    background: #DDDDDD;
}

h1 {
    /* font-size: medium; */
    font-family: var(--font_family);
}

p {
    font-family: var(--font_family);
}

/* Nav section */
nav {
    margin: 15px 0;
}

svg {
    height: 40px;
    width: 40px;
  }

span {
    margin: 4px 0 0 10px;
}

main {
    position:absolute;
    margin: 220px 65px 0 25px;
    align-items: center;
}


/* Footer section */
footer {
    margin-top: 1300px;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: #3C8DAD;
    color: var(--light)
}

footer h2 {
    padding: 20px 0;
}

/* Name section */
.title {
    font-size: 48px;
    padding: 20px 0 20px 50px;
    margin-left: 200px;
}

.title{
    color: var(--light);
}

.header {
    display: flex;
    justify-content:space-between;
    background-color: var(--medium);
    width: 100%; 
    flex-wrap: wrap;
    position: fixed;
    z-index: 3;
    box-shadow: 0 5px 5px var(--dark);
}

/* Title and menu container */
.title-menu {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
    width: 100%;
}

/* Navi Menu items */
.nav-menu li {
    flex-wrap: wrap;
    margin: 0 7.5px;
    padding-bottom: 1px;
    min-width: fit-content;
    
    
}

.nav-menu li a {
    font-size: 25px;
    font-family: var(--font_family);
    border-bottom: 3px solid var(--light);
    transition: color 0.5s, border-color 0.5s;
    color: var(--light);
}

.nav-menu li a:hover {
    color: var(--dark);
    border-color: var(--dark);
}

.nav-menu {
    display:flex;
    padding: 20px 0;
}

/* Hero image */
.hero {
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero_full.png");
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    border-bottom: 3px solid var(--dark);
}

/* Page section headings */
.sub-heading {
    font-size: 48px;
    text-align: right;
    min-width: 215px;
    padding-right: 10px;
    color: var(--medium);
}

/* Project Section format */
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Main project container */
.main-img {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

/* Main project image format */
.hero-project{
    height: 100%;
    width: 100%;
    background-image: url(../images/project_1.png);
    background-repeat: no-repeat;
    background-position:  0 85%;
    background-size: 130%;
    border: 3px solid var(--dark);
    border-radius: 25px;
    opacity: .5;
    transition: opacity 1s;
}

/* Sub Projects */
.sub-project{
    width: 100%;
    height: 100%;
    background-color: var(--medium);
    border: 3px solid var(--dark); 
    opacity: .5;
    border-radius: 25px;
    transition: opacity 1s;
}

/* Add opacity back to 100% */
.sub-project:hover {
    opacity: 1;
}

/* Hover functionality */
.hero-project:hover{
    opacity: 1;
}

/* Secondary project container */
.link-img {
    position: relative;
    width: 48.5%;
    height: 200px;
    margin: 8px 8px;
}

/* Labels for project images */
.tag {
    position: absolute;
    top: 55%;
    background-color: var(--dark);
    border-radius: 0 10px 10px 0;
    color:var(--light);
    padding: 20px 40px;
    z-index: 2;
    font-size: large;
    font-family: var(--font_family)
}

/* Apply flex to the icon and text */
.phone, .email {
    display: flex;
    justify-content:center;  
}

/* Add spacing around each contact group */
.social-media, .phone, .email{
    margin: 10px;
}

/* Social media icon spacing */
.github, .linkedIn {
    margin: 0 10px;
}

/* Set flex on social media icons */
.social-media {
    display: flex;
    justify-content:center;
}

/* self image */
#me img {
    position: absolute;
    margin: 20px 0 0 5%;
    border-radius: 25%;
    height: 204.75px;
    width: 187px;
    border: 3px solid #112B3C;
}

#about-me p, #work .projects, #contact .contact-items{
    width: 100%;
    border-left: 5px solid var(--medium);
    padding-left: 10px;
}

/* The main sections base */
#about-me, #work, #contact{
    display: flex;
    margin: 35px;

}

#about-me, #work{
  justify-content:center;  
}

#contact {
    align-items: center;
    justify-content: space-between;
    vertical-align:middle
}

/* Mobile reponse screen format @ 1480px */
@media screen and (max-width: 1480px) {
    main {
        position:absolute;
        margin-top: 220px;
        align-items: center;
    }

    footer {
        margin-top: 1750px;
    }

    .title {
        text-align: center;
        padding: 20px 50px 20px 70px;
        
    }

    .link-img {
        width: 100%;
        margin-top: 10px;
    }
    
    .projects{
        justify-content: space-between;
    }

}

/* Mobile reponse screen format @ 1340 */
@media screen and (max-width: 1340px) {
    main{
        position: relative;
        margin: 0px 25px;
        padding: 0 40px 0 40px;
    }
   
    footer {
        margin-top: 0;
    }

    .hero-project{
        background-size: 130%;
    }

    .title {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }

    .header {
        justify-content: center;
        position: relative;
    }
  
    .nav-menu {
        margin: 0px;
        justify-content: center;
        padding: 10px 30px 20px 30px;
    }

    .nav-menu li a{
        font-size: 20px;

    }

    .title-menu {
        flex-direction: column;
        margin: 0 30px;
    }

    .sub-heading {
        text-align: left;
        margin: 0 25 0 0px;
    }

    .link-img {
        margin-top: 10px;
    }
    
    .projects{
        justify-content: space-between;
    }

    #me img {
        position: relative;
        margin: 10px 30px;
    }

    #about-me, #work, #contact{
        display: inline;
        width: 100%;
        border: none;
    }
}