body {
    background: #DDDDDD;
}

nav {
    margin: 15px 0;
    
}

ul li {
    color: #ffffff;
}

.hero {
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero_full.png");
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-repeat: no-repeat;
}

.title {
    color: #ffffff;
}



.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C8DAD;
    padding: 20px;
    flex-wrap: wrap;
}

.nav-menu li {
    flex-wrap: wrap;
    margin: 0 0 0 15px;
    
}

.nav-menu {
    display:flex; 
       
}

@media screen and (max-width: 530px) {
    .nav-menu li{
        margin: 0 15px 0 0;
    }
}