/* Color scheme */
:root {
    --light: #fff;
    --medium: #3C8DAD;
    --dark: #112B3C;
}

/* Background  color*/
body {
    background: #DDDDDD;
}

nav {
    margin: 15px 0;
}

a img:hover {
    opacity: 1;
}

main {
    position:absolute;
    margin: 200px 65px 0 25px;
    align-items: center;
}

.title {
    font-size: 48px;
}

.title, ul li {
    color: var(--light);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    padding: 20px 75px;
    flex-wrap: wrap;
}

.nav-menu li {
    flex-wrap: wrap;
    margin: 0 0 0 15px;
    font-size: 25px;
    border-bottom: 3px solid var(--light);
    padding-bottom: 1px;
    min-width: fit-content;
}

.nav-menu {
    display:flex;
    margin: 0 15px 0 0;
}

/* Hero image */
.hero {
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero_full.png");
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-repeat: no-repeat;
}

/* Page catagories */
.sub-heading {
    font-size: 48px;
    text-align: right;
    min-width: 215px;
    padding-right: 10px;
    color: var(--dark);
}

/* The main sections base */
#about-me, #work, #contact{
    display: flex;
    margin: 35px;
    justify-content:center;
}

/* Project Section format */
.projects {
    display: flex;
    direction: row;
    justify-content: space-evenly;
}


/* Main project container */
.main-img {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 200px;
}

/* Main project image format */
.hero-project{
    height: 100%;
    width: 100%;
    background-image: url(../images/project_1.png);
    background-repeat: no-repeat;
    background-position:  0 85%;
    background-size: 150%;
    border: 3px solid #3C8DAD;
    opacity: .5;
    z-index: 1;
}

.sub-project{
    width: 100%;
    height: 100%;
    background-color: var(--medium);
    border: 3px solid var(--dark); 
    opacity: .5;
    transition: opacity 1s;
}

/* Hover functionality */
.project1:hover{
    opacity: 1;
}

/* Secondary project container */
.link-img {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 200px;
}

/* Labels for project images */
.tag {
    position: absolute;
    top: 55%;
    background-color: #3C8DAD;
    color:#fff;
    padding: 20px 40px;
    z-index: 2;
}

/* Label font */
.tag p {
    font-size: large;
}

/* Sections formate*/
#about-me p , #work .projects, #contact p{
    width: 100%;
    display:inline-block;
    border-left: 5px solid var(--dark);
    padding-left: 10px;
}

/* Mobile reponse screen format @ 1188px */
/* @media screen and (max-width: 1679ppx) {
    .link-img {
        flex-basis: 50%;
    }
} */

/* Mobile reponse screen format @ 1188px */
/* @media screen and (max-width: 1188px) {
    .link-img {
        flex-basis: 100%;
        width: 99.75%;
    }
} */

/* Mobile reponse screen format @ 1190px */
/* @media screen and (max-width: 1190px) {
    .link-img {
        flex: 0 0 50%;
        width: 99.75%;
    }
} */

/* Mobile reponse screen format @ 885 */
/* @media screen and (max-width: 885px) {
    main{
        margin: 0 25px;
        padding: 0 40px 0 40px;
    }

    .project1{
        background-size: 150%;
    }

    .nav-menu li{
        margin: 0 15px 0 0;
    }

    .sub-heading {
        text-align: left;
        margin: 0 25 0 0px;
    }

    #about-me, #work, #contact{
        display: inline;
        width: 100%;
        border: none;
    }

} */